<h1>Welcome, <%= current_user.username%>!</h1>
<br>
<%= link_to "Create a New Goal", new_user_goal_url(current_user) %>
<ul>
<% @users.each do |user| %>
    <li> <%= link_to user.username, user_goals_url(user) %> </li><br>
<% end%>
</ul>
<br>
<%= link_to "Show All Goals", user_goals_url(current_user) %>